@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mains {
  min-height: 100vh;
  height: 100%;
}

.celebrating {
  background: url("../assets//main_landing_page_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  top: 0px;
  max-width: 100vw;
  width: auto;
  height: 500px;
}
.celebrating h4 {
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 20%;
  font-family: "poppins", sans-serif;
  max-width: 800px;
  width: auto;
}
.celep {
  text-align: center;
  margin: 10px auto;
  position: absolute;
  top: 45%;
  font-size: 15px;
  max-width: 500px;
  width: auto;
  font-family: "poppins", sans-serif;
}
/* classname for community  link */
.btnjoin {
  text-align: center;
  padding: 17px;
  margin: 5px auto;
  background-color: rgb(255, 140, 0);
  width: 250px;
  position: absolute;
  border-radius: 5px;
  top: 65%;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.btnjoin:hover {
  background-color: #28d744;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
.Mbtn {
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.Mbtn:hover {
  text-decoration: underline;
}

/* join communities pics  styling*/
.images {
  display: flex;
  position: absolute;
  top: 85%;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  flex-flow: wrap-reverse;
  width: 100%;
  gap: 10px;
  margin: auto;
}
.images img {
  width: 200px;
}
.communities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 600px;
  margin: auto;
}
.communities h1 {
  font-family: "poppins", sans-serif;
  opacity: 0.8;
}
.communities p {
  opacity: 0.7;
  font-family: "poppins", sans-serif;
  text-align: center;
  margin: auto;
}

/* popular communities to join */
.popular {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  height: 100%;
  position: relative;
  top: 600px;
  gap: 20px;
}
.popular h2 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-family: "poppins", sans-serif;
}
.h1popular {
  text-align: center;
  text-transform: capitalize;
  position: relative;
  top: 600px;
  margin: 10px auto;
  color: rgb(0, 128, 105);
  font-family: "poppins", sans-serif;
}
/* cards for community groups */
.card1 {
  background-color: aliceblue;
  width: 500px;
  height: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  transition: all 1s ease;
  transform: scale(0.9);
}
.card1:hover {
  cursor: pointer;
  transform: scale(1);
}
.card3 {
  background-color: aliceblue;
  width: 500px;
  height: 400px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  transition: all 1s ease;
  transform: scale(0.9);
}
.card3:hover {
  cursor: pointer;
  transform: scale(1);
}
.card2 {
  transition: all 1s ease;
  transform: scale(0.9);
  background-color: aliceblue;
  width: 500px;
  height: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
.card2:hover {
  cursor: pointer;
  transform: scale(1);
}
.star {
  font-size: 35px;
  margin: 20px;
}
.card3 h2 {
  margin: 10px;
  color: rgb(0, 128, 79);
  font-weight: bold;
  font-family: "poppins", sans-serif;
}
.card3 p {
  margin: 20px;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  color: rgb(0, 128, 79);
}
/* avater for community group */
.avaterbtn img {
  width: 200px;
  border-radius: 20px;
}
.avaterbtn {
  display: flex;
  margin: 20px;
  background-color: transparent;
  gap: 1px;
  margin-top: 50px;
}
.avaterbtns {
  display: flex;
  margin: 20px;
  background-color: transparent;
  gap: 1px;
  margin-top: 50px;
}
.avaterbtns img {
  width: 200px;
  border-radius: 20px;
}
.cardbtn {
  background-color: rgb(0, 128, 79);
  border: none;
  border-radius: 20px;
  padding: 5px;
  color: white;
  width: 100px;
  cursor: pointer;
}
.cardbtn:hover {
  background-color: lightgreen;
  color: blue;
}
.card1 h2 {
  margin: 20px;
  color: rgb(0, 128, 79);
  font-weight: bold;
  font-family: "poppins", sans-serif;
}
.card1 p {
  margin: 20px;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  color: rgb(0, 128, 79);
}
.card2 h2 {
  margin: 20px;
  color: rgb(0, 128, 79);
  font-weight: bold;
  font-family: "poppins", sans-serif;
}
.card2 p {
  margin: 20px;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  color: rgb(0, 128, 79);
}
/* exploring other community css */
.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 600px;
  margin: auto;
  border: 1px solid green;
  width: 300px;
}

.explore h2 {
  font-family: "poppins", sans-serif;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: auto;
  opacity: 0.7;
  cursor: pointer;
  transition: all 1s ease;
}
.explore {
  background-color: lightgreen;
}
.explore h2:hover {
  color: white;
}
/* deeply rooted */
.deeply {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  position: relative;
  top: 650px;
  max-width: 100vw;
  width: auto;
  height: 300px;
}
.deepSpan {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid orange;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
  font-family: "poppins", sans-serif;
}
.deeply h1 {
  position: absolute;
  top: 25%;
  font-family: "poppins", sans-serif;
}
.deeply p {
  position: absolute;
  top: 40%;
  font-family: "poppins", sans-serif;
}
/* social container networking */
.socialContainer {
  background-color: aliceblue;
  position: relative;
  top: 500px;
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  gap: 10px;
}
/* social card */
.social,
.social2,
.social3,
.social4,
.social5,
.social6,
.social7,
.social8 {
  padding: 10px;
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #ffff;
}

/* Hover on product cards */
.social:hover {
  border: 1px solid aqua;
  cursor: pointer;
}
.social2:hover {
  border: 1px solid aqua;
  cursor: pointer;
}
.social3:hover {
  border: 1px solid aqua;
  cursor: pointer;
}
.social4:hover {
  border: 1px solid aqua;
  cursor: pointer;
}
.social5:hover {
  border: 1px solid aqua;
  cursor: pointer;
}
.social6:hover {
  border: 1px solid aqua;
  cursor: pointer;
}

.social7:hover {
  border: 1px solid aqua;
  cursor: pointer;
}
.social8:hover {
  border: 1px solid aqua;
  cursor: pointer;
}

.social:hover .span {
  text-decoration: underline;
}
.social2:hover .span {
  text-decoration: underline;
}
.social3:hover .span {
  text-decoration: underline;
}
.social4:hover .span {
  text-decoration: underline;
}
.social5:hover .span {
  text-decoration: underline;
}
.social6:hover .span {
  text-decoration: underline;
}
.social7:hover .span {
  text-decoration: underline;
}
.social8:hover .span {
  text-decoration: underline;
}
.social:hover .arrowUp {
  transform: translate(3px);
}
.social2:hover .arrowUp {
  transform: translate(3px);
}
.social3:hover .arrowUp {
  transform: translate(3px);
}
.social4:hover .arrowUp {
  transform: translate(3px);
}
.social5:hover .arrowUp {
  transform: translate(3px);
}
.social6:hover .arrowUp {
  transform: translate(3px);
}
.social7:hover .arrowUp {
  transform: translate(3px);
}
.social8:hover .arrowUp {
  transform: translate(3px);
}
/* social products images */
.social .imag .prod_image,
.social2 .imag .prod_image,
.social3 .imag .prod_image,
.social4 .imag .prod_image,
.social5 .imag .prod_image,
.social6 .imag .prod_image,
.social7 .imag .prod_image,
.social8 .imag .prod_image {
  position: absolute;
  right: 0;
  top: 0;
}
/* social h4 linear gradient css */
.social .h4social,
.social2 .h4social,
.social3 .h4social,
.social4 .h4social,
.social5 .h4social,
.social6 .h4social,
.social7 .h4social,
.social8 .h4social {
  background-color: #28d744;
  background: linear-gradient(from right to left, #1abc94, #28d744);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "poppins", sans-serif;
  position: absolute;
  top: 55%;
  font-size: 18px;
}
/* view on product */
.social .span,
.social2 .span,
.social3 .span,
.social4 .span,
.social5 .span,
.social6 .span,
.social7 .span,
.social8 .span {
  position: absolute;
  top: 90%;
  font-family: "poppins", sans-serif;
}
/* social products p elements */
.social .psocial,
.social2 .psocial,
.social3 .psocial,
.social4 .psocial,
.social5 .psocial,
.social6 .psocial,
.social7 .psocial,
.social8 .psocial {
  position: absolute;
  top: 65%;
  font-size: 14px;
  text-align: start;
  font-family: "poppins", sans-serif;
}
.arrowUp {
  width: 20px;
  position: absolute;
  top: 90%;
  left: 40%;
}
/* section for one-stop community */
.oneStopPlusImage {
  position: relative;
  top: 550px;
  background: url("../assets//main_landing_page_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
}
.oneStop {
  position: relative;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  word-spacing: -2px;
  display: flex;
  margin-left: 100px;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.oneStop h1 {
  text-align: start;
  font-family: "poppins", sans-serif;
}
.oneStop p {
  opacity: 0.7;
  font-family: "poppins", sans-serif;
  margin: 10px 0;
}
.oneStopBtn {
  background-color: #1abc94;
  text-align: center;
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  transition: all 1s;
  width: 200px;
  border-radius: 10px;
}
.oneStopBtn:hover {
  background-color: grey;
  border: 1px solid blue;
}
.oneStopBtn a {
  text-decoration: none;
  color: aliceblue;
  font-family: "poppins", sans-serif;
}
.oneStopBtn a:hover {
  color: blue;
  text-decoration: underline;
}
.image3 img {
  width: 400px;
}
.paginationContainer {
  position: relative;
  top: 650px;
  left: 100px;
  width: 100vw;
  height: auto;
  margin: auto;
}
.paginationHeading {
  position: relative;
  top: 600px;
  left: 100px;
  margin: auto;
}
.paginationHeading h1 {
  text-align: start;
}
.paginationHeading h1 b {
  background-color: green;
  background: linear-gradient(from right to left, #1abc94, #28d744);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px auto;
}
@media screen and (max-width: 720px) {
  .main {
    overflow-x: hidden;
    width: 100vw;
    min-height: 300vh;
    height: 100%;
  }
  .celebrating {
    width: auto;
    margin: auto;
    overflow: hidden;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
  }
  .celebrating h4 {
    font-size: 15px;
    text-align: center;
    width: auto;
    margin: auto 30px;
    top: 16%;
  }
  .celep {
    text-align: center;
    width: auto;
    font-size: 11px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    margin: auto;
  }
  .btnjoin {
    top: 50%;
  }
  .images {
    display: none;
  }
  .communities {
    top: -120px;
    width: auto;
    margin: auto 10px;
  }
  .communities h1 {
    text-align: center;
    margin: auto;
  }
  .communities p {
    text-align: center;
    margin: auto;
    font-size: 13px;
    opacity: 1;
  }
  .h1popular {
    top: -100px;
    text-align: center;
    font-size: 20px;
  }
  .popular {
    top: -100px;
    width: 200px;
    height: 100%;
    margin: auto -50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
  }
  .explore {
    top: -80px;
    left: 50%;
    margin: auto 10px;
    transform: translate(-52%, -50%);
  }
  .explore h2 {
    text-align: center;
    width: 100%;
    opacity: 1;
  }
  .deeply {
    top: -60px;
    width: auto;
    height: auto;
  }
  .deepSpan {
    margin: auto;
    font-weight: bold;
    opacity: 0.7;
  }
  .deeply h1 {
    top: 50px;
    font-size: 20px;
    text-align: center;
    margin: auto;
  }
  .deeply p {
    top: 90px;
    text-align: center;
    margin: auto 20px;
    font-size: 13px;
  }
  .socialContainer {
    top: 80px;
    margin: 10px auto;
    flex-flow: wrap;
    max-width: 600px;
    height: 100%;
  }
  .social {
    margin: 15px auto;
  }
  .oneStopPlusImage {
    top: 100px;
    margin: 10px auto;
    flex-direction: column;
    gap: 25px;
  }
  .image3 {
    width: auto;
    height: 100%;
  }
  .paginationHeading{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 120px;
  }

  .paginationHeading h1 {
  }
  .oneStop p {
    font-size: 13px;
    left: 50%;
    transform: translate(-20%);
    text-align: center;
  }
  .oneStop h1 {
    text-align: center;
    margin: auto;
    left: 50%;
    transform: translate(-20%);
    font-size: 18px;
  }
  .oneStopBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landFoot {
    margin-top: 200px;
  }
  .star {
    font-size: 35px;
    margin: 20px 30px;
  }
  .popular{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .card1, .card2, .card3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 20px;    
  }
  .card3 h2,.card1 h2, .card2 h2 {
    margin: 20px;
    text-align: start;
    color: rgb(0, 128, 79);
    font-weight: bold;
    font-family: "poppins", sans-serif;
  }
  .card3 p, .card1 p, .card2 p {
    margin: 15px 30px;
    font-size: 20px;
    text-align: center;
    font-family: "poppins", sans-serif;
    color: rgb(0, 128, 79);
  }
  /* avater for community group */
  .avaterbtn img {
    width: 200px;
    border-radius: 20px;
    margin: auto 50px;
  }
  .avaterbtn {
    display: flex;
    margin: auto;
    background-color: transparent;
    gap: 1px;
  }
  .avaterbtns {
    display: flex;
    margin: auto;
    background-color: transparent;
    gap: 1px;
  }
  .avaterbtns img {
    width: 200px;
    border-radius: 20px;
    margin: auto 50px;
  }
  .cardbtn {
    background-color: rgb(0, 128, 79);
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
    width: 100px;
    cursor: pointer;
    margin-left: -50px;
  }
  
}
