@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 10px;
  padding: 15px;
}
.navbar img {
  width: 200px;
  margin-left: 15px;
}
.navbar img:hover {
  cursor: pointer;
}

.menuLogin {
  margin: auto 10px;
}
.menulogout {
  margin: auto 10px;
}
.navbarbtn .menuLogin {
  font-weight: 600px;
  padding: 10px;
  width: 100px;
  text-align: center;
  color: green;
  border: 1px solid lightseagreen;
  border-width: 2px;
  cursor: pointer;
}
.navbarbtn .menuLogin a {
  text-decoration: none;
  color: blue;
}
.navbarbtn .menuLogin a:hover {
  color: green;
  font-weight: 500;
}
.navbarbtn .menulogout {
  font-weight: 600px;
  padding: 10px;
  width: 100px;
  position: fixed;
  right: 0%;
  height: 40px;
  top: 5%;
  text-align: center;
  color: white;
  border: 1px solid lightseagreen;
  border-width: 2px;
  cursor: pointer;
  background-color: grey;
  transition: all 1s ease-in-out;
}
.navbarbtn .menulogout:hover {
  color: crimson;
  text-decoration: underline;
}

/* delete styling for desktop */
.navbarbtn .menudelete {
  font-weight: 600px;
  padding: 12px;
  font-size: 10px;
  width: 100px;
  height: 40px;
  position: fixed;
  right: 10%;
  top: 5%;
  text-align: center;
  color: white;
  border: 1px solid lightseagreen;
  border-width: 2px;
  cursor: pointer;
  background-color: grey;
  transition: all 1s ease-in-out;
}
.navbarbtn .menudelete:hover {
  color: red;
  text-decoration: underline;
}
/* styling on desktop view for delete */
.menudeleteX {
  font-weight: 600px;
  padding: 10px;
  width: 100px;
  text-align: center;
  color: white;
  border: 1px solid lightseagreen;
  border-width: 2px;
  cursor: pointer;
  background-color: grey;
}

/* styling on sign up desktop view */
.navbarbtn .menuSignUp {
  font-weight: 600px;
  padding: 10px;
  width: 100px;
  text-align: center;
  background-image: linear-gradient(#1abc94, #28d744);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 12px;
}
.navbarbtn .menuSignUp:hover {
  background-image: linear-gradient(darkcyan, lightcyan);
}
.navbarbtn .menuLogin:hover {
  color: white;
  outline: none;
}
.navbarbtn .menuSignUp a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.navbarbtn .menuSignUp a:hover {
  color: green;
}
/* toggling styles */
.bars,
.xmark {
  position: absolute;
  top: 30%;
  right: 5%;
  display: none;
  cursor: pointer;
}
.xmark {
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid green;
  background-color: red;
  border-radius: 50%;
  font-weight: bold;
}
/* user styling profiling */
.userX {
  position: absolute;
  right: 20%;
  text-decoration: underline;
}
/* user Online styling */
.online {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 50.6%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 12.5%;
}
/* user offline styline */
.offline{
  position: absolute;
  background-color: grey;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 50.6%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 12.5%;
}

@media screen and (max-width: 720px) {
  .online1 {
    display: none;
  }
  .online2 {
    display: block;
  }
  
  .online {
    position: absolute;
    background-color: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    left: -10%;
    top: 3%;
    display: block;
  }
  .offline {
    position: absolute;
    background-color: grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    left: -10%;
    top: 3%;
    display: block;
  }
  .navbarbtn .menudelete {
    display: none;
  }
  .navbarbtn .menuSignUp {
    display: none;
  }
  .navbarbtn .menuLogin {
    display: none;
  }
  .navbarbtn .menulogout {
    display: none;
  }
  /* styling on mobile vie for delete */
  .navbarbtn .menudeleteX {
    position: absolute;
    right: 40%;
    top: 9%;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    border: 1px solid lightseagreen;
    border-width: 2px;
    cursor: pointer;
    background-color: grey;
  }
  .menudeleteX span {
    font-size: 10px;
    transition: all 1s ease-in-out;
    font-weight: bolder;
  }
  .menudeleteX:hover {
    color: red;
    text-decoration: underline;
  }
  /* styling on mobile view for logout */
  .menulogoutX {
    position: absolute;
    padding: 10px;
    right: 4%;
    top: 9%;
    height: 40px;
    width: 100px;
    text-align: center;
    color: white;
    border: 1px solid lightseagreen;
    border-width: 2px;
    cursor: pointer;
    background-color: grey;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
  }
  .menulogoutX:hover {
    color: crimson;
    text-decoration: underline;
  }
  .img_userX {
    position: absolute;
    top: 1%;
    left: 0;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    z-index: 3;
  }
  .user {
    position: absolute;
    top: 2%;
    left: 20%;
    color: green;
    font-family: bold;
    font-size: 17px;
    float: left;
    text-decoration: underline;
  }
  .userX {
    display: none;
  }
  .bars,
  .xmark {
    display: block;
    margin: auto 20px;
    z-index: 20;
  }
  .navbarX_isActive {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 35%;
    align-items: center;
    background-color: aliceblue;
    flex-direction: column;
    height: 800px;
    gap: 10px;
    transition: all 2s ease-in-out;
  }

  .navbarX {
    display: flex;
    position: absolute;
    top: 0;
    left: 150%;
    right: 0;
    align-items: center;
    background-color: aliceblue;
    flex-direction: column;
    height: 500px;
    gap: 10px;
  }
  .menuSignUpX,
  .menuLoginX {
    padding: 10px;
    margin: 80px 5px;
    width: 100px;
    cursor: pointer;
  }

  .menuSignUpX a,
  .menuLoginX a {
    text-decoration: none;
  }
  .menuSignUpX {
    font-weight: 600px;
    width: 100px;
    text-align: center;
    background-color: green;
    border: 1px solid blue;
    cursor: pointer;
    outline: none;
  }
  .menuLoginX {
    font-weight: 600px;
    width: 100px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    outline: none;
  }
  .menuLoginX a {
    color: teal;
  }
  .menuSignUpX a {
    color: blue;
  }
  .menuSignUpX:hover {
    border: 1px solid green;
  }
  .menuLoginX:hover {
    border: 1px solid;
  }
  .menuSignUpX a:hover {
    color: white;
    text-decoration: underline;
  }
  .menuLoginX a:hover {
    color: green;
    text-decoration: underline;
  }
  .img_navbar {
    width: auto;
    position: absolute;
    left: -7%;
    top: 3%;
  }

  .social_header {
    height: 300px;
    width: auto;
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-30%, 0%);
    z-index: 10;
  }
  .social_header ul {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    width: auto;
    margin: 0 10px;
    height: 100%;
    gap: 5px;
  }
  .social_header ul li{
    list-style: none;
  }
  .social_header ul li a:visited{
    color: tomato;
    font-weight: bolder;
  }
  .social_header ul li a:active{
    color: blue;
    font-weight: bolder;
  }
  .social_header ul li a{
    color: darkgreen;
    cursor: pointer;
    transition: all 1s ease-in-out;
    text-decoration: none;
  }
  .social_header ul li a:hover {
    color: lightseagreen;
    text-decoration: underline;
  }
  .social_header ul span {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
    color: green;
  }
}
